
/* Marquee*/
.hmmm h3 {
    animation: indexMarquee 22s infinite linear;
  }
  
  @keyframes indexMarquee {
    from {transform: translateX(0%);}
    to {transform: translateX(-500%);}
  }
  
/* .translate-x0{
transform: translateX(0);
} */


/* explore */
.under-lined {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
    position: relative;
    overflow: hidden;
  }
  
  .under-lined:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #000;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .under-lined:hover:before,
  .under-lined:focus:before,
  .under-lined:active:before {
    right: 0;
  }
  
  

/* 2 reviews */
.ty-looper {
    animation: flickerAnimation 10s infinite;
  }
  .op-looper {
    animation: opAnimation 10s infinite;
  }
  .op-looper-2 {
    animation: opAnimation2 10s infinite;
  }
  

@keyframes flickerAnimation {
    0% {transform: translateY(30%);}
    50% {transform: translateY(30%);}
    55% { transform: translateY(-30%);}
    95% { transform: translateY(-30%);}
    100% {transform: translateY(30%);}
  }
  
@keyframes opAnimation {
    0% {opacity: 1;}
    50% {opacity: 1;}
    55% {opacity: 0;}
    95% {opacity: 0;}
    100% {opacity: 1;
    }
  }

@keyframes opAnimation2 {
    0% {opacity: 0;}
    50% {opacity: 0;}
    55% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0;}
  }


  /* noise */
.noised::before {
    content: "";
    z-index: 9999999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://global-uploads.webflow.com/5a841cafef2b990001bcadd1/5ce40e59c004885ff4348712_background-noise.png);
    animation: .1s infinite noise;
    pointer-events: none
  }
  
  @keyframes noise {
    0%,
    100% {background-position: 0 0}
    10% {background-position: -5% -10%}
    20% {background-position: -15% 5%}
    30% {background-position: 7% -25%}
    40% {background-position: 20% 25%}
    50% {background-position: -25% 10%}
    60% {background-position: 15% 5%}
    70% {background-position: 0 15%}
    80% {background-position: 25% 35%}
    90% {background-position: -10% 10%}
  }
  
  .skrrt-skrrt{ 
   transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    transform-style: preserve-3d;
  }
  .skrrt-skrrt:hover,
  .skrrt-skrrt:focus,
  .skrrt-skrrt:active {
    transform: translate3d(0px, -55%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) skew(0deg);
  }

  .skrrt-skrrt-y{
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    transform-style: preserve-3d;
  }
  .skrrt-skrrt-y:hover,
  .skrrt-skrrt-y:focus,
  .skrrt-skrrt-y:active {
    transform: translate3d(-108%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) skew(0deg);
  }
  .skrrt-y-fake {
    transform: translate3d(100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-5deg) skew(0deg);
  }